<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>MyTunes</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MyTunes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customers/addCustomer">Add customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customers">View all customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customers/customer-each-country">View countries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/customers/getHighestEarningCustomers/">Highest earner</a>
                </li>
            </ul>
        </div>
        <form class="d-flex" th:action="@{/customers/searchPage}" method="get">
            <input class="form-control me-2" type="search" placeholder="Search for track" aria-label="Search" required="required" th:name="searchString">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container inner-padded">
    <div class="row justify-content-center align-items-center" style="padding-bottom: 2em;">
        <h1 class="display-3">Highest earning</h1>
    </div>

    <table class="table" style="width:100%">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Earning</th>
        </tr>
        </thead>
        <tr th:each="cust:${earningCustomers}">
            <td th:text="${cust.getName()}"></td>
            <td th:text="${cust.getEarnings()}"></td>
        </tr>
    </table>
</div>
</body>
</html>
