<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>

<head>
    <meta charset="UTF-8" />
    <title>MyTunes</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MyTunes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customers/addCustomer">Add customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customers">View all customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customers/customer-each-country">View countries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customers/getHighestEarningCustomers/">Highest earner</a>
                </li>
            </ul>
        </div>
        <form class="d-flex" th:action="@{/customers/searchPage}" method="get">
            <input class="form-control me-2" type="search" placeholder="Search for track" aria-label="Search" required="required" th:name="searchString">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<br><br>

<div class="container inner-padded">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="col">
                <b>5 Random artists:</b>
                <table class="table" style="width:100%">
                    <tr th:each="cust : ${customers}">
                        <td th:text="${cust.getFirstName()} + ' ' + ${cust.getLastName()}"></td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <b>5 Random tracks:</b>
                <table class="table" style="width:100%">
                    <tr  th:each="track : ${tracks}">
                        <td th:text="${track.getTrackName()}"></td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <b>5 Random genres:</b>
                <table class="table" style="width:100%">
                    <tr th:each="genre : ${genres}">
                        <td th:text="${genre}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>

</html>